# IntelliJ
.idea/
*.iml

# VSCode
.vscode/

# Compilation/build outputs
build/
dist/
out/

# mkdocs outputs
/docs/reference/portabellas/
/docs/reference/SUMMARY.md
/site/

# Node.js
node_modules/

# Python binaries
*.egg-info/
__pycache__/
*.pyc

# Python environment
.venv/
venv/

# Pytest outputs
.pytest_cache/
htmlcov/
.coverage
coverage.xml

# ruff
.ruff_cache/

# OpenCode
opencode.json

# Other
.DS_Store
*.log

# TODO: temporary, remove later
old_reference/
